<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95585626591-1g2vojlvqa58kt36sfnfpmit6l92h61a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95585626591-1g2vojlvqa58kt36sfnfpmit6l92h61a</string>
	<key>API_KEY</key>
	<string>AIzaSyCws7ipU2FGiKXTacJaFnJESvP32wYuq4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>95585626591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dukcapil.lotim</string>
	<key>PROJECT_ID</key>
	<string>bakso-a702c</string>
	<key>STORAGE_BUCKET</key>
	<string>bakso-a702c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95585626591:ios:e119ffdb79d1fe3db87c6a</string>
</dict>
</plist>